html,body{
    height: 100%;
}
.form-container{
    max-width: 350px;
    padding: 1rem;
}
.imagem{
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


button {
    margin: 5px;
}
